.newBlogForm {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.newBlogForm input[type="text"], .newBlogForm input[type="url"] {
    border-bottom: 1px solid wheat;
    width: 100%;
}

.newBlogForm textarea {
    border: 1px solid wheat;
    background-color: transparent;
    outline: none;
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;


}

.newBlogForm textarea:focus {
    outline: none;
    border: 1px solid coral;
}


.createPostFormField {
    width: 100%;
    display:flex;
    height: 20px;
    
}

.newBlogForm form {
    display: flex;
    flex-direction: column;
}

#createPostForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}