

#createPostForm input[type="text"], #createPostForm input[type="url"] {
    border-bottom: 1px solid rgba(245, 222, 179, 0.566);
    width: 90%;
    transition: all 0.3 ease-in-out;
}

#createPostForm input[type="text"]:focus ,  #createPostForm input[type="url"]:focus{
    outline: none;
    border-bottom: 3px solid coral;
  }
  


#createPostForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#createPostForm label {
    font-weight: bold;
}

#createBlogBtn {
    width:100%;
}

#createPostForm textarea:focus {
    border: 2px solid coral;
    outline: none;
}

@media only screen and (min-width: 768px) {
    #createBlogBtn{
       margin-top: 20px;
       margin-bottom: 20px;
    }
}

.generatePrompt{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}