body {
    background-color: rgb(48, 35, 31);
    color: aliceblue;
    display: flex;
    margin:0px;
padding:0px;
width:100%;

}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
    /* For tablets: */
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
    /* For desktop: */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  


  .sidebar {
    height: 100%;
     display: flex;
     flex-direction: column;
     padding: 20px;
     border: 1px solid white;
     margin: 10px;
     border-radius: 10px;
 }

 .blogfeed {
    width: 80%;
  }
  

.blog {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    height: 250px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-sizing:border-box;
}

h1{
    font-size: 24;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column; /* Change to column for mobile devices */
    padding: 20px;
}

.sidebar {
    height: auto; /* Adjust height for mobile devices */
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin:0px;
}

.blogfeed {
    width: 100%; /* Full width for mobile devices */
}

/* Responsive styles for desktops */
@media only screen and (min-width: 768px) {
    .content {
        flex-direction: row;
        padding-left: 60px;
        padding-right: 60px;
    }

    .sidebar {
        width: 20%; /* Adjust width for desktops */
        margin: 10px;
        margin-right: 20px;
     
    }

    .navbar{
        margin-top: 0px;
    }

    .blogfeed {
        width: 80%;
    }

    h1 {
        font-size: 20px;
    }

    .feed{
        padding-left: 20%;
    padding-right: 20%;
    }

    #submitComment {
        width: 20%;
    }

}

.blog:hover{
    transform: scale(1.01); 
    cursor: pointer;
}




.blogBrief {
    width: 100%;
    margin-top:  auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content:  flex-end;
   
    flex-direction: column;
    padding: 20px;
    word-wrap:break-word ;
    box-sizing: content-box;
}

.blogSubtitle {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.blogTitle {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.blogFeedList {
    list-style-type: none;
    padding: 0px;
}

.blogTimeStamp {
    font-size: 10px;
    color: rgb(201, 201, 201);
    margin-top: 10px;
    font-style: italic;
}

.sidebar h5 {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
}

.App {
    display: flex;
}

.searchbar input[type="text"] {
    width: 90%;
}

.searchbar input[type="submit"] {
    width: 20%;
    font-size: 14px;
}

.sidebar input[type="radio"] {
    margin-right: 5px;
}

#fresh {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar .searchbar {
    display: flex;
    flex-direction:row;
}

.navbarBrand {
    font-size: 30px;
    margin-left: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blogfeed h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#prevButton, #nextButton {
    border-radius: 40px;
    padding: 10px;
    margin: 0;
    border: none;
    box-shadow: 3px 3px 3px rgb(116, 104, 82);
    transition: all 0.3s ease-in-out;
    background-color:blanchedalmond;
    color:rgb(48, 35, 31);

}

#prevButton:hover, #nextButton:hover{
   
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    
}

#prevButton:disabled, #nextButton:disabled{
   
    background-color:rgb(123, 123, 123);
    color:rgb(67, 67, 67);
    
}

#paginationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left:50px;
    padding-right: 50px;
}




.sidebar input[type="submit"] {
    background-color: transparent;
    border: 1px solid wheat;
    transition: all 0.1s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;
}

.sidebar input[type="submit"]:hover{
    background-color: wheat;
}

#limitPosts {
    width: 50px;
    text-align: center;
}


.limitPostsPara {
    display: inline-block;
}


/* sidebar button to apply search filter etc */
#goSearch{
border: none;
border-radius: 30px;
margin: 0;
background-color: rgb(224, 196, 143);
padding: 5px;
transition: all 0.1s ease-in-out;
}

#goSearch:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight:500;
}

.feed{
    padding-top:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


div.blog {
    width: 100%;
}
