
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  

.registerContent {
    display: flex;
    width: 100%;
    height:400px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}


.registerContent div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    height: 100%;
    border: 1px solid rgb(101, 86, 59);
    border-radius: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
  margin: 10px;
}

 input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    border: 1px solid wheat;
    color: wheat;
    transition: all 0.1s ease-in-out;
    margin: 0px;
    margin-top: 10px;
    border-radius: 50px;
    width: 100%;

}

input[type="submit"]:hover{
    background-color: wheat;
    color: rgb(72, 48, 39);
}

.errortext {
    color: red;
}