
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
    /* For tablets: */
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  

    /* For desktop: */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }



.registerContent {
    display: flex;
    width: 100%;
    height:400px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}


.registerContent div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    height: 100%;
    border: 1px solid rgb(101, 86, 59);
    border-radius: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
  margin: 10px;
}

 input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    border: 1px solid wheat;
    color: wheat;
    transition: all 0.1s ease-in-out;
    margin: 0px;
    margin-top: 10px;
    border-radius: 50px;
    width: 100%;

}

input[type="submit"]:hover{
    background-color: wheat;
    color: rgb(72, 48, 39);
}

.errortext {
    color: red;
}